.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: left;
}



.map{
    height: 400px;
    width: 40%;
    
    
}

.detalle{
    flex: 0.7;
    flex-flow: row;
    float: right;
}

