{% extends 'layout.html' %}
{% load static %}

{% block titulo_pagina %} Ubicaciones {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'arriendo/css/ubicaciones.css' %}">
{% endblock %}

{% block contenido %}

<div class="container">
    
    {% for id_mapa,nombre_ciudad in ciudades %}
    <div class="ciudad">
        <div class="mapa" id="{{id_mapa}}"></div>

        <div class="detalle">
            <h2>{{nombre_ciudad}}</h2>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, itaque!</p>

        </div>

    </div>
    {% endfor %}

    <script src="{% static 'js/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8wJ7H4mu_F51nDW0uXf903jPKumnRCDA&callback=initialize"></script>


</div>
 
{% endblock %}