<!--este template debe llamarse como el primer parametro en arriendo.urls.py 
path('reserva_list/', ReservaList.as_view(),name='ListaReservas').
ya qe se creará automaticamente
]-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Reservas</title>
</head>

<body>

    {% for reserva in reserva_list %}
    <h2>{{reserva}}</h2>
    {% endfor %}
    
</body>
</html>